<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    </head>
  <body>
    
<nav class="navbar navbar-expand-md ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: white;">Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <i class="bi bi-house"></i>
        </li>
        <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="#">Home</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">contact</a>
        </li>
        
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline" type="submit" routerLink="/login"  routerLinkActive="active">Login</button>
      </form>
    </div>
  </div>
</nav>

<section class="home">
  <img src='../../assets/img.jpg'>
  <div class="homecontent">
  <h1>Make Your Work Easier</h1>
  <a class="btn btn-lg " role="button" style="color: rgb(236, 12, 12);">Learn More &raquo;</a>
</div>
</section>


      
  </body>
</html>
<router-outlet></router-outlet>

