<!--<div>
 <if-exam></if-exam>
</div>

<div>
  <h1 [color]=" 'yellow' ">My Color</h1>
  <h3 [color]="'red'">Next Color</h3>
</div>
<div>
  <pro-com></pro-com>
</div>
<div>
  <my-pro></my-pro>
</div>

<div>
  <user-com></user-com>
</div>

<div>
  <app-pipe-example></app-pipe-example>
</div>
<div>
  <app-form-example></app-form-example>
</div>
<div>
  <app-reactive-form-ex></app-reactive-form-ex>
</div>

<div>
  <app-task-form></app-task-form>

</div> 
<div>
  <my-com></my-com>
</div>
<div>
  <emp-details></emp-details>
</div>
<div>
  <app-task-details></app-task-details>
</div>
<div>
  <app-post-example></app-post-example>

</div>



<div>
  <my-module></my-module>

</div> 

<div>
  <ul>
    <li><a [routerLink]="['/TemplateForm']">TemplateForm</a></li>
    <li><a [routerLink]="['/ModelForm']">ModelForm</a></li>
  </ul>
</div>
 
<div>
<app-create-task></app-create-task>
</div> -->

<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  
<ul class="navbar-nav">
  <li class="nav-item">
      <a routerLink="tasks" class="nav-link" routerLinkActive="active">Task List</a>
  </li>
  <li class="nav-item">
    <a routerLink="save" class="nav-link" routerLinkActive="active">Add Task</a>
</li>
</ul>
</nav> -->
<router-outlet>

</router-outlet>